<div class="jumbotron">
  <h1>Horn charts</h1>
  <p class="lead">
    Scale charts for trombone and trumpet
  </p>


  <form id="form-inline">
    <fieldset>

      <p class="row">
        <label class="">Instrument:</label>
        <select ng-model="instrument" ng-options="instrument for instrument in instruments" name="Instrument" class="input-xlarge">
        </select>
      </p>

      <p class="row">
        <label class="">Key:</label>
        <select ng-model="key" ng-options="key for key in keys" name="Key" class="input-xlarge">
        </select>
      </p>

      <p class="row">
        <label class="">Scale:</label>
        <select ng-model="scale" ng-options="scale for scale in scales" name="Scale" class="input-xlarge">
        </select>
      </p>
    </fieldset>
  </form>
</div>

<div class="row" ng-if="scaleNotes">
  <p style="text-align: center; padding: 10px; color: #999;">
    <span ng-repeat="note in scaleNotes">{{note.name}} </span>
  </p>
  <horn-chart horn-def="hornDef" selections="selections"></horn-chart>
</div>
